# Python
__pycache__/
*.py[cod]
venv/

# Databases
*.db
*.sqlite3

# Environments
.env

#Folders
tests/
migrate_db.py
workspace.code-workspace

# Files
cookies.txt

*.pyc
*.log
.pytest_cache/
instance/
.vscode/
.idea/
